:root {
  --white: #fbfbfb;
  --black: #121214;

  --blue: #6c95ff;
  --bright-blue: #1a5bff;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: Georgia, serif;
  font-size: 18px;
  line-height: 1.6;
  width: 100%;
  padding: 40px 20px;
  max-width: 750px;
  box-sizing: border-box;

  @media (min-width: 600px) {
    padding: 60px 30px;
  }

  @media (prefers-color-scheme: light) {
    background-color: var(--white);
    color: var(--black);
  }
}

.header {
  display: flex;
  flex-direction: column;

  @media (min-width: 600px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.header > a {
  align-self: center;
  width: fit-content;
}

.left {
  order: 1;
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 20px;
  align-items: center;
  margin: 20px auto 0 auto;

  @media (min-width: 375px) {
    width: 285px;
  }

  @media (min-width: 600px) {
    order: 0;
    margin-top: 0;
    align-items: flex-start;
  }
}

.left > span {
  font-size: 12px;
  text-align: center;

  @media (min-width: 600px) {
    text-align: left;
  }
}

.right {
  flex-grow: 1;
  text-align: center;
  align-self: center;
  display: flex;
  justify-content: center;
}

.u-center {
  margin: 0 auto;
  display: block;
}

a:has(.logo) {
  display: block;
  width: fit-content;
}

.logo {
  width: auto;
  height: 75px;

  @media (min-width: 600px) {
    height: 150px;
  }
}

h1, h2 {
  line-height: 1.2;
}

h1 {
  font-weight: 700;
  font-size: 32px;
  margin: 0 0 10px;
  text-align: center;

  @media (min-width: 600px) {
    text-align: left;
  }
}

h2 {
  position: sticky;
  top: 0;
  background-color: var(--black);
  border-bottom: 1px solid var(--white);
  border-spacing: 5px;
  font-size: 26px;
  padding-top: 10px;
  transition: transform 0.2s ease-out, font-size 0.2s ease-out;
  width: 100%;
  z-index: 1;

  @media (prefers-color-scheme: light) {
    background-color: var(--white);
    border-color: var(--black);
  }
}

h2.stuck {
  font-size: 18px;

  @media (min-width: 600px) {
    font-size: 26px;
  }
}

html {
  scroll-padding-top: 45px; /* Approximate header height */
  scroll-behavior: smooth;
}

p {
  margin-inline-end: 1px;
  margin-inline-start: 1px;
}

a {
  transition: all 100ms ease-out;
  color: var(--blue);
  text-decoration: none;
  text-decoration-color: transparent;
  text-underline-offset: 0;

  @media (prefers-color-scheme: light) {
    color: var(--bright-blue);
  }
}

a:hover {
  text-decoration: underline dashed;
  text-underline-offset: 5px;
  text-decoration-color: var(--blue);

  @media (prefers-color-scheme: light) {
    text-decoration-color: var(--bright-blue);
  }
}

.year-range {
  display: block;
  padding: 5px 0 10px 0;
  opacity: 0.6;
  font-size: 60%;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 40px auto 0;

  @media (min-width: 600px) {
    margin: 60px auto 0;
  }
}

.footer a {
  height: 30px;
  width: 30px;
}

.footer img {
  height: 100%;
  width: 100%;

  @media (prefers-color-scheme: light) {
    filter: invert(1);
  }
}

.footer .roblox-link {
  height: 32px;
  width: 32px;
}
